{{#each sortedItems as |item|}}
<hr>
<h3>{{item.name}}</h3> x {{item.quantity}}<br>
<h4>Notes:</h4> {{item.notes}}{{update-item item=item update='update' sendTo='sendTo'}}
<button class='btn btn-sm btn-danger'{{action 'delete' item}}>Delete Item?</button>
{{/each}}
