<div class="row">
{{#each sortedItems as |item|}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2{{action 'itemLookup' item.name}}> {{#link-to 'item' item.name}}  {{item.name}} {{/link-to}} </h2><h3 class="quantity"> x {{item.quantity}}</h3><br>
        <h4>Notes:</h4> {{item.notes}}
          {{update-item item=item update='update' sendTo='sendTo'}}
      </div>
    </div>
  </div>
{{/each}}
</div>
