{{#if newItem}}
<h1>Have a Item?</h1>
<div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" }}
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      {{input value=quantity id="quantity"}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{#bs-textarea value=notes id="notes" }}{{/bs-textarea}}
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      {{#x-select value=category}}
      {{#x-option value='grocery'}}<span>Add to Grocery List</span>{{/x-option}}
      {{#x-option value='pantry'}}<span>Add to Pantry List</span>{{/x-option}}
      {{/x-select}}
    </div>


    <button {{action 'save'}}>Save to Grocery List</button>
  </form>
</div>
{{else}}
<button class="btn btn-sm btn-success newItem" {{action 'showItemForm'}}>New Item</button>
{{/if}}
