{{#if newItem}}
<h1>Have a Item?</h1>
<div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" }}
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      {{input value=quantity id="quantity"}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{#bs-textarea value=notes id="notes" }}{{/bs-textarea}}
    </div>

    <div class="form-group">
      <label for="type">Food Group</label>
      {{#x-select value=type}}
      {{#x-option value='meat'}}<span>Meat</span>{{/x-option}}
      {{#x-option value='produce'}}<span>Produce</span>{{/x-option}}
      {{#x-option value='dry'}}<span>Dry Goods</span>{{/x-option}}
      {{#x-option value='frozen'}}<span>Frozen</span>{{/x-option}}
      {{#x-option value='dairy'}}<span>Dairy</span>{{/x-option}}
      {{#x-option value='hate'}}<span>I hated this! (ノಠ益ಠ)ノ彡┻━┻</span>{{/x-option}}
      {{/x-select}}
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      {{#x-select value=category}}
      {{#x-option value='grocery'}}<span>Add to Grocery List</span>{{/x-option}}
      {{#x-option value='pantry'}}<span>Add to Pantry List</span>{{/x-option}}
      {{/x-select}}
    </div>


    <button class='btn btn-sm btn-success'{{action 'save'}}>Save</button>
    <button class='btn btn-sm btn-danger'{{action 'hideItemForm'}}>Cancel</button>
  </form>
</div>
{{else}}
<button class="btn btn-sm btn-success newItem" {{action 'showItemForm'}}>New Item</button>
{{/if}}
