{{#each sortedItems as |item|}}
<h3{{action 'itemLookup' item.name}}> {{#link-to 'item' item.name}} {{item.name}} {{/link-to}} </h3> x {{item.quantity}}<br>
<h4>Bought on:</h4>{{date-color item}}(date){{item.date}} ({{moment-from-now item.date 'DD MMMM YYYY, h:mm a' id='buyDate'}})<br>
3 days: (exp) {{item.exp}}<br>
7 days: (expWeek) {{item.expWeek}}
<h4>Notes:</h4> {{item.notes}}{{update-item item=item update='update' sendTo='sendTo'}}
{{/each}}
