{{#if updateItemForm}}
  <h4>Update {{item.name}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=item.name id="name" placeholder=item.name}}
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        {{input value=item.quantity id="quantity" placeholder=item.quantity}}
      </div>

      <div class="form-group">
        <label for="type">Food Group</label>
        {{#x-select value=category}}
        {{#x-option value='meat'}}<span>Meat</span>{{/x-option}}
        {{#x-option value='produce'}}<span>Produce</span>{{/x-option}}
        {{#x-option value='dry'}}<span>Dry Goods</span>{{/x-option}}
        {{#x-option value='frozen'}}<span>Frozen</span>{{/x-option}}
        {{#x-option value='dairy'}}<span>Dairy</span>{{/x-option}}
        {{#x-option value='hate'}}<span>I hated this! (ノಠ益ಠ)ノ彡┻━┻</span>{{/x-option}}
        {{/x-select}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{textarea value=item.notes id="notes" placeholder=item.notes}}
      </div>

      <button class='btn btn-xs update-btn'{{action 'update' item}}>Update</button>
      <button class='btn btn-xs cancel-btn'{{action 'hideItemForm'}}>Cancel</button>

    </form>
  </div>
{{else}}
<div class="updateBtn">
  <button class='btn btn-xs update-btn'{{action 'updateItemForm'}}>Update</button>
  <div class="form-group">
    {{#x-select value=category}}
    {{#x-option value='grocery'}}<span>Add to Grocery List</span>{{/x-option}}
    {{#x-option value='pantry'}}<span>Add to Pantry List</span>{{/x-option}}
    {{#x-option value='all'}}<span>Remove</span>{{/x-option}}
    {{/x-select}}
  </div>
<button class='btn btn-xs submit-btn' {{action 'sendTo' item}}>Submit</button>
</div>
{{/if}}
