<div class="row">
  <div class="col-md-8">
    <ol>
      {{#each model as |number|}}
      <div class="main-nutrition">
      <span class="nutrition-label">Name:  </span><span class="nutrient-result">{{number.name}}</span> <br> <span class="nutrition-label">Serving Size: </span><span class="nutrient-result">{{number.measure}}</span> <br>
    </div>
      <table id="nutrient-table">
        {{#each number.nutrients as |nutrient|}}
        <tr>
          <div class="row">
            <div class="nutrients">
              <div class="col-xs-9">
                {{nutrient.nutrient}}:
              </div>
              <div class="col-xs-3" id="hang-right">
                {{nutrient.value}} {{nutrient.unit}}
              </div>
            </div>
            <hr>
          </div>
        </tr>
        {{/each}}
      </table>
      {{/each}}
    </ol>
  </div>
  <div class="col-md-4">
    {{from-search item=item saveSearched='saveSearched'}}
  </div>
</div>
