<h4>Register here: </h4><br>

{{input type="text" value=firstName placeholder="First Name"}}<br>
{{input type="text" value=lastName placeholder="Last Name"}}<br>
{{input type="text" value=email placeholder="Email"}}<br>
{{input type="password" value=password placeholder="Password"}}<br>
<button class="btn btn-default navbar-btn login-link"{{action "signUp"}}> Register </button>
